/node_modules
/build
/dist
/db/*.db
/.sass-cache
/assets/css/.sass-cache
/test/maps
/docker_extras
/.npm
/.idea
/.config
npm-debug.log
.DS_Store
.dev.enc.key
.dev.env
.stage.env
.prod.env
.bash_history
.npmrc
package-lock.json
.idea/
.rnd


yarn-error.log
.nyc_output
coverage
.vscode
/docker
reports